<section>
    <div class="row bg-dark">
        <div class="col-12 mt-3 mb-3">
            <h3 class="text-center text-warning"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </h3>
            <h2 class="text-center text-light">Compétence , Suivi, Engagements </h2>
            <h3 class="text-warning text-center"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </h3>
            <p class="col-md-6 col-sm-12 mx-auto text-light mt-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nostrum quidem tempora. Eveniet dolor iste delectus doloremque, officiis nemo accusantium praesentium sequi alias quos libero odio quisquam quaerat, eligendi laborum, facere earum molestias temporibus. Exercitationem ipsa explicabo ex perspiciatis architecto facilis? Nulla magnam, modi ducimus laudantium ut inventore voluptatibus debitis. </p>
        </div>
    </div>

</section>