<section>
    <div class="row">
        <div class="col-12 bottomdevis pb-4">
            <h2 class="text-center mt-3 mb-3"> Votre artisan ............. </h2>
            <div class="row justify-content-center">
                <div class="col-md-3 text-center mt-3 mb-3">
                    <a href="telto:+33000000000" class="bg-primary btn btnrond text-light"><i class="fas fa-phone-alt"></i></a>
                    <br>
                    <a href="telto:+33000000000" class="bg-primary btn text-light mt-4">00 00 00 00 00 </a>
                </div>
                <div class="col-md-3 text-center mt-3 mb-3">
                    <a href="mailto:mail@mail.com" class="bg-primary btn btnrond text-light"><i class="far fa-envelope"></i></a>
                    <br>
                    <a href="mailto:mail@mail.com" class="bg-primary btn text-light mt-4"> Contact </a>
                </div>
                <div class="col-md-3 text-center mt-3 mb-3">
                    <a href="#" class="bg-primary btn btnrond text-light"><i class="fas fa-euro-sign"></i></a>
                    <br>
                    <a href="#" class="bg-primary btn text-light mt-4"> Devis </a>
                </div>
            </div>
            <h4 class="col-8 mt-3 mx-auto"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti hic accusamus fuga asperiores quod magnam esse recusandae vero animi laudantium.</h4>
            <hr>
            <div class="row justify-content-center mb-4">
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - LOCALISATION
                    <br>
                    <i class="fas fa-map-pin"></i> - LOCALISATION 
                </div>
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - LOCALISATION
                    <br>
                    <i class="fas fa-map-pin"></i> - LOCALISATION 
                </div>
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - LOCALISATION
                    <br>
                    <i class="fas fa-map-pin"></i> - LOCALISATION 
                </div>
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - LOCALISATION
                    <br>
                    <i class="fas fa-map-pin"></i> - LOCALISATION 
                </div>

            </div>
        </div>
    </div>

</section>