<section>
    <div class="row justify-content-around bg-dark">
        <a class="col-md-2 col-sm-12 btn indexliens m-4" href="#"> Spécialité 1 </a>
        <a class="col-md-2 col-sm-12 btn indexliens m-4" href="#"> Spécialité 2 </a>
        <a class="col-md-2 col-sm-12 btn indexliens m-4" href="#"> Spécialité 3 </a>
        <a class="col-md-2 col-sm-12 btn indexliens m-4" href="#"> Spécialité 4 </a>
    </div>
</section>
